@import 'global';

body {
	background-color: #000000;
	position: relative;
	height: 99.9vh;
	overflow: hidden;
}

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// scaling... any units
$width: 200px;
.container {
	margin: 0 auto;
	/*max-width: 1024px;
	max-height: 660px;*/
	/*height: 99.99vh;*/
	background: url('../images/Title_Background.png') no-repeat;
	background-size: 100% 100%;
    width: 85.1%;
    height: 87.76%;
	#elmocanvas {
		height: 100%;
		width: 100%;
	}
	@media screen and (min-width: 1025px) {
        width: 100%;
        height: 100%;
		position: absolute;
	    transform: translate3d(-50%, -50%, 0);
	    -webkit-transform: translate3d(-50%, -50%, 0);
	    -moz-transform: translate3d(-50%, -50%, 0);
	    top: 50%;
	    left: 50%;
	}
    @media screen and (max-width: 1024px) {
        /*max-height: 250px;*/
        position: relative;
        /*top: 150px;*/
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 768px) and (orientation: portrait){
        max-height: 490px;
        position: relative;
        top: 250px;
    }
    @media screen and (max-width: 414px) {
        max-height: 250px;
        position: relative;
        top: 150px;
    }
}
.ios-play {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 999;
    display: none;
    .play-button {
        height: 40%;
        width: 24%;
        position: absolute;
        z-index: 2;
        display: block;
        background: url(../images/skip.png) no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
    }
}
#loading {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 1);
	z-index: 999;
	pointer-events: none;
	display: block;
	.content {
		position: relative;
		margin: 0 auto;
        top: 25%;
        width: 40%;
        img {
            width: 100%;
        }
		h3 {
		    text-align: center;
		    font-size: 24px;
            margin-top: 5px;
		}
		.progress {
		    width: 70%;
            margin: 0 auto;
		    height: 20px;
		    border: 4px solid #074b8c;
		    border-radius: 10px;
		    .progress-bar {
		        width: 0;
		        height: 100%;
		        background: #0099ea;
		        border-radius: 8px;
		        -webkit-transition: width 0.2s linear;
                -moz-transition: width 0.2s linear;
                -o-transition: width 0.2s linear;
                transition: width 0.2s linear;
		    }
		}
	}
}
.circular {
	animation: rotate 2s linear infinite;
	-moz-animation: rotate 2s linear infinite;
	-webkit-animation: rotate 2s linear infinite;
	-moz-animation: rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	-ms-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	-webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	-moz-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@-webkit-keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}

@-moz-keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@-moz-keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}

